<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
  
  <!-- UserBean --> 
  <bean id="beanUserServiceHibernate" class="services.UserServiceImpl">
    <constructor-arg ref="beanUserDaoHibernate"/>
  </bean>   
  <bean id="beanUserDaoHibernate" class="dao.UserDaoHibernateImpl" >
    <constructor-arg ref="beanHibernateUtil"/>
  </bean>   
  <!-- beanHibernateUtil For All-->
  <bean id="beanHibernateUtil" class="util.HibernateUtil" ></bean>
  
  
  <!-- PatientBean --> 
  <bean id="beanPatientServiceHibernate" class="services.PatientServiceImpl">
    <constructor-arg ref="beanPatientDaoHibernate"/>
  </bean>   
  <bean id="beanPatientDaoHibernate" class="dao.PatientDaoHibernateImpl" >
    <constructor-arg ref="beanHibernateUtil"/>
  </bean>   
  <bean id="beanHibernateUtil" class="util.HibernateUtil" ></bean>


</beans>